header ul {
  list-style:none;
  padding:0;
}

header li {
  list-style-type: none;
  width:132px;
  height:15px;
  margin-bottom: 12px;
  line-height: 1em;
  padding: 6px 6px 6px 7px;

  background: #AF0011;
  background: -moz-linear-gradient(top, #AF0011 0%, #820011 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #AF0011 0%,#820011 100%);
  background: -o-linear-gradient(top, #AF0011 0%,#820011 100%);
  background: -ms-linear-gradient(top, #AF0011 0%,#820011 100%);
  background: linear-gradient(top, #AF0011 0%,#820011 100%);

  border-radius:4px;
  border:1px solid #0D0D0D;

  -webkit-box-shadow: inset 0px 1px 1px 0 rgba(233,2,38, 1);
  box-shadow: inset 0px 1px 1px 0 rgba(233,2,38, 1);

}

header li:hover {
  background: #C3001D;
  background: -moz-linear-gradient(top, #C3001D 0%, #950119 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #C3001D 0%,#950119 100%);
  background: -o-linear-gradient(top, #C3001D 0%,#950119 100%);
  background: -ms-linear-gradient(top, #C3001D 0%,#950119 100%);
  background: linear-gradient(top, #C3001D 0%,#950119 100%);
}

a.buttons {
  -webkit-font-smoothing: antialiased;
  background: url({{site.url}}/img/arrow-down.png) no-repeat;
  font-weight: normal;
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
  padding: 2px 2px 2px 22px;
  height: 30px;
}

a.buttons:hover {
  color: #fff;
  text-decoration: none;
}
