html,
body {
  height: 100%;
}

#container {
  border: 1px solid #666;
  padding: 5px;
  margin-bottom: 20px;
}

.kindling {
  width: 110px;
  height: 110px;
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  background: #888;
  color: #222;
  -webkit-border-top-right-radius: 1.2em;
      -moz-border-radius-topright: 1.2em;
          border-top-right-radius: 1.2em;
}

.kindling.alkali          { background: #F00; background: hsl(   0, 100%, 50%); }
.kindling.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }
.kindling.lanthanoid      { background: #FF0; background: hsl(  72, 100%, 50%); }
.kindling.actinoid        { background: #0F0; background: hsl( 108, 100%, 50%); }
.kindling.transition      { background: #0F8; background: hsl( 144, 100%, 50%); }
.kindling.post-transition { background: #0FF; background: hsl( 180, 100%, 50%); }
.kindling.metalloid       { background: #08F; background: hsl( 216, 100%, 50%); }
.kindling.other.nonmetal  { background: #00F; background: hsl( 252, 100%, 50%); }
.kindling.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
.kindling.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }


.kindling * {
  position: absolute;
  margin: 0;
}

.kindling .symbol {
  left: 0.2em;
  top: 0.4em;
  font-size: 3.8em;
  line-height: 1.0em;
  color: #FFF;
}
.kindling.large .symbol {
  font-size: 4.5em;
}

.kindling.fake .symbol {
  color: #000;
}

.kindling .name {
  left: 0.5em;
  bottom: 1.6em;
  font-size: 1.05em;
}

.kindling .weight {
  font-size: 0.9em;
  left: 0.5em;
  bottom: 0.5em;
}

.kindling .number {
  font-size: 1.25em;
  font-weight: bold;
  color: hsla(0,0%,0%,.5);
  right: 0.5em;
  top: 0.5em;
}

.variable-sizes .kindling.width2 { width: 230px; }

.variable-sizes .kindling.height2 { height: 230px; }

.variable-sizes .kindling.width2.height2 {
  font-size: 2.0em;
}

.kindling.large,
.variable-sizes .kindling.large,
.variable-sizes .kindling.large.width2.height2 {
  font-size: 3.0em;
  width: 350px;
  height: 350px;
  z-index: 100;
}

.clickable .kindling:hover {
  cursor: pointer;
}

.clickable .kindling:hover h3 {
  text-shadow:
    0 0 10px white,
    0 0 10px white
  ;
}

.clickable .kindling:hover h2 {
  color: white;
}
