<h2>Hello. I'm Eric</h2>
<p><img src="http://www.gravatar.com/avatar/ca1556da271e3177836fdd55bc926ecd.png" alt="Eric Jones" title="Follow me on Twitter @erjjones"  class="img-rounded floatLeft" />			
I am a student for life, amateur software engineer, car enthusiast, and wanna be chef.  Most importantly I am a father, husband and a Christian.</p>					
<p><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=erjjones&repo=erjjones.github.com&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=erjjones&repo=erjjones.github.com&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe></p>
<p><a href="https://twitter.com/erjjones" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @erjjones</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/erjjones" rel="me" class="social github" title="Go to github.com/erjjones" target="_blank"></a></li>
	  <li><a href="http://www.linkedin.com/pub/eric-jones/a/848/1b3" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
	  <li><a href="http://www.twitter.com/erjjones" rel="me" class="social twitter" title="Go to twitter.com/erjjones" target="_blank"></a></li>
	  <li><a href="http://feeds.feedburner.com/github/xmyo" rel="me" class="social rss" title="Go to feedburner erjjones rss feed" target="_blank"></a></li>
	  <li><a href="https://plus.google.com/u/0/114561259331203581412/posts" rel="me" class="social gplus" title="Go to Google Plus profile" target="_blank"></a></li> 
	  <li><a href="https://github.com/erjjones/Feedback/issues/new" rel="me" class="social mail" title="Leave feedback for Eric"  target="_blank"></a></li>				
	</ul>
</p>