<h2>Hello. This is Mankind</h2>
<p><img src="http://www.gravatar.com/avatar/ca1556da271e3177836fdd55bc926ecd.png" alt="Eric Jones" title="Follow me on Twitter @mankindsoftware"  class="img-rounded floatLeft" />			
Offering up the modern web.</p>					
<p><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=mankindsoftware&repo=mankindsoftware.github.com/angular-isotope&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=mankindsoftware&repo=mankindsoftware.github.com/angular-isotope&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe></p>
<p><a href="https://twitter.com/mankindsoftware" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @mankindsoftware</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/mankindsoftware" rel="me" class="social github" title="Go to github.com/mankindsoftware" target="_blank"></a></li>
	  <li><a href="http://www.linkedin.com/pub/markallenhall" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
	  <li><a href="http://www.twitter.com/mankindsoftware" rel="me" class="social twitter" title="Go to twitter.com/mankindsoftware" target="_blank"></a></li>
	  <li><a href="https://plus.google.com/b/106179389924187500775/" rel="me" class="social gplus" title="Go to Google Plus profile" target="_blank"></a></li> 	
	</ul>
</p>