<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
  	<div class="container">
  	</div>
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://mankindsoftware.github.io/angular-isotope">Angular Isotope</a>
	  <div class="nav-collapse">
		<ul class="nav">
		  <li class="">
			<a href="{{ site.url }}"><i class="icon-home"></i> Home</a>
		  </li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-comment"></i> Social <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li class=""><a href="http://www.twitter.com/mankindsoftware" rel="tooltip" title="Go to twitter.com/mankindsoftware" target="_blank">Twitter</a></li>
					<li class=""><a href="http://github.com/mankindsoftware" rel="tooltip" title="Go to github.com/mankindsoftware" target="_blank">GitHub</a></li>
					<li class=""><a href="http://www.linkedin.com/pub/markallenhall" rel="tooltip" title="Go to LinkedIn profile" target="_blank">LinkedIn</a></li>
				</ul>
			 </li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-list"></i> Projects <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li class=""><a href="https://mankind.io" rel="tooltip" title="Go to mankind.io" target="_blank">mankind.io</a></li>
					<li class=""><a href="http://mankind.com" rel="tooltip" title="Go to mankind.com">mankind.com</a></li>
				</ul>
			 </li>
		</ul>
	  </div>
	</div>
  </div>
</div>
