<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://erjjones.github.com">Eric Jones</a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="">
			<a href="http://erjjones.github.com">Home</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://github.com/erjjones" target="_blank">GitHub</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://www.delicious.com/erjjones" title="Go to delicious.com/erjjones" target="_blank">Delicious</a>
		  </li>		
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://www.linkedin.com/pub/eric-jones/a/848/1b3" title="Go to linkedin profile" target="_blank">LinkedIn</a>
		  </li>		
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://www.twitter.com/erjjones" title="Go to twitter.com/erjjones" target="_blank">Twitter</a>  
		  </li>				  			  
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://feeds.feedburner.com/github/xmyo" title="Go to feedburner" target="_blank">RSS</a>  
		  </li>	
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://coderwall.com/erjjones" title="Go to coderwall/erjjones" target="_blank">Coderwall</a>
		  </li>	
		  <li class="divider-vertical"></li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
				<ul class="dropdown-menu">					
					<li class=""><a href="https://github.com/erjjones/earthjs" title="Go to Earth.js on GitHub" target="_blank">Earth.js</a></li>	
				</ul>
			  </li>		  
		<li class="divider-vertical"></li>
		<li class="">
			<a href="http://erjjones.github.com/forsale.html" title="Go to my items for sale">For Sale</a>
		  </li>	
		</ul>		
	  </div>
	</div>
  </div>
</div>